@page "/incomedates"

<PageTitle>Income Dates</PageTitle>

<ExpenseTracker.Shared.PageHeader PageName="Income Dates"></ExpenseTracker.Shared.PageHeader>

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="form">
                    <div class="form-group">
                        <label for="">Income Date</label>
                        <input type="date" class="form-control" @bind-value="CurrentIncomeDateAndAmount.IncomeDate">
                    </div>
                    <div class="form-group">
                        <label for="">Amount</label>
                        <input type="number" class="form-control" @bind-value="CurrentIncomeDateAndAmount.IncomeAmount">
                    </div>
                    <button @onclick="Save" class="btn btn-block btn-success"><i class="fas fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card">
            <div class="card-header">
                <span class="card-title"><i class="fa fa-list"></i> List</span>
            </div>
            <div class="card-body">
                <table class="table table-sm table-responsive-sm table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Income Date</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in IncomeDateAndAmounts.OrderBy(s=>s.IncomeDate))
                        {
                            <tr style="cursor:pointer;">
                                <td>@item.IncomeDate.Value.ToString($"MMMM dd, yyyy (dddd)") </td>
                                <td>@item.IncomeAmount</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary" @onclick="@(()=>{IsAddNewExpenseDetail = true; ViewExpenseDetail(item);})">View</button>
                                        <button type="button" class="btn btn-sm btn-info" @onclick="@(()=>{CurrentIncomeDateAndAmount = item;})">Edit</button>
                                        <button type="button" class="btn btn-sm btn-danger" @onclick="@(()=>DeleteIncomeDate(item))">Delete</button>

                                    </div>
                                </td>
                            </tr>
                            @if (IsAddNewExpenseDetail && CurrentIncomeDateAndAmountToAddExpenseDetail == item)
                            {
                                <tr>
                                    <td colspan="3">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="">Payable</label>
                                                            <select class="form-control" @bind="CurrentExpenseDetail.PayableId">
                                                                <option value="0">[SELECT]</option>
                                                                @foreach (var payable in PayablesList)
                                                                {
                                                                    <option value="@payable.Payableid">@payable.Payablename</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Amount</label>
                                                            <input type="text" class="form-control" @bind-value="@CurrentExpenseDetail.Amount">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Comment</label>
                                                            <input type="text" class="form-control" @bind-value="@CurrentExpenseDetail.Comment">
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button class="btn btn-success btn-sm" @onclick="SaveExpenseDetail">Save</button>
                                                        @if (CurrentExpenseDetail.Id > 0)
                                                        {
                                                            <button class="btn btn-danger btn-sm" @onclick="@(()=>CurrentExpenseDetail = new())">Cancel</button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <table class="table table-sm table-responsive-sm table-hover table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Payable</th>
                                                            <th>Amount</th>
                                                            <th>Comment</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            decimal amount = 0;
                                                            foreach (var expense in ExpenseDetailsList.Where(s=>s.IncomeDateAndAmountId == item.Id).ToList())
                                                            {
                                                                amount += (decimal)expense.Amount;
                                                                var paid = "bg-green text-white";
                                                                var notpaid = "bg-white text-black";
                                                                var ispaid = (expense.IsPaid.HasValue ? (expense.IsPaid.Value == true ? paid : notpaid) : notpaid);
                                                                <tr class="@ispaid" style="cursor: pointer;" @ondblclick="@(()=>SetExpenseStatus(expense))">
                                                                    @{
                                                                        var payable = PayablesList.FirstOrDefault(s=>s.Payableid  == expense.PayableId);
                                                                    }
                                                                    <td>@payable?.Payablename</td>
                                                                    <td>@expense.Amount</td>
                                                                    <td>@expense.Comment</td>
                                                                    <td>
                                                                        <div class="btn-group">
                                                                            <button class="btn btn-sm btn-info" @onclick="@(()=>CurrentExpenseDetail = expense)">Edit</button>
                                                                            <button class="btn btn-sm btn-danger" @onclick="@(()=>DeleteExpenseDetail(expense))">Delete</button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <tr>
                                                                <td colspan="4" style="align : center;">
                                                                    <button class="btn btn-block btn-success" @onclick="@(()=>AddAllRecuring(item))">Add all recurring...</button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td style="color:red; font-weight:bold;">@amount</td>
                                                                <td style="color:green; font-weight:bold;">
                                                                    @{
                                                                        var remaining = item.IncomeAmount - amount;
                                                                        <span>@remaining</span>
                                                                    }
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .table {
      border: 1px solid;
    }
</style>